@import "compass";

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-column {
  flex: 0 0 400px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  .profile-bar {
    height: 70px;
    display: flex;
    border-bottom: 1px solid gray;
    .profile-avatar {
      width: 70px;
      height: 70px;
      flex: 0 0 70px;
      align-self: stretch;
    }
    .profile-name {
      align-self: center;
      padding: 10px;
      flex: 1;
    }
    .profile-controls {
      align-self: center;
      padding: 10px;
    }
  }
  .nav-bar {
    height: 50px;
    flex-direction: row;
    display: flex;
    border-bottom: 1px solid gray;
    .nav-bar-list {
      display: flex;
      flex: 1;
      .nav-bar-item {
        align-self: center;
      }
    }
    .nav-bar-controls {
      display: flex;
      .nav-bar-control {
        align-self: center;
      }
    }
  }
  .article-list {
    flex-direction: column;
    display: flex;
    flex: 1;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .article-item {
      border-bottom: 1px solid gray;
      flex-direction: column;
      display: flex;
      height: 70px;
      cursor: pointer;
      &.selected {
        border-left: 5px solid rgb(23, 136, 254);
      }
      .article-item-title {
        flex: 5;
      }
      .article-item-status {
        flex: 3;
        display: flex;
        .article-item-status-left {
          flex: 1;
        }
        .article-item-status-right {
          flex: initial;
        }
      }
    }
  }
}

.middle-column {
  flex: 0 0 400px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  .editor-control-bar {
    display: flex;
    height: 40px;
    flex: 0 0 40px;
    flex-direction: row;
    .editor-control {
      align-self: center;
      text-align: center;
      width: 40px;
      line-height: 40px;
    }
  }
  .editor-content {
    flex: 1;
    flex-direction: column;
    display: flex;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .editor-content-poster {
      height: 700px;
      flex: 0 0 700px;
      display: flex;
      flex-direction: column-reverse;
      background-size: cover;
      background-position: center;
      .editor-content-info {
        display: flex;
        flex-direction: column;
        padding: 170px 20px 20px;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%);
        .editor-content-author {
          display: flex;
          flex-direction: row;
          margin-bottom: 10px;
          .editor-content-author-avatar {
            height: 40px;
            width: 40px;
            flex: 0 0 40px;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            background-size: cover;
            background-position: center;
          }
          .editor-content-author-name {
            font-size: 1.3em;
            align-self: center;
            margin-left: 10px;
          }
        }
        .editor-content-title-box {
          display: flex;
          flex-direction: column;
          border-left-width: 4px;
          border-left-style: solid;
          margin-left: 20px;
          padding-left: 10px;
          .editor-content-title {
            font-size: 2em;
          }
          .editor-content-platform {
            color: gray;
          }
        }
      }
    }
  }
}

.right-column {
  flex: 1;
  align-self: stretch;
}
