.form {
  flex: 1;
  height: 100vh;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  .top-bar {
    display: flex;
    flex-direction: row-reverse;
    .top-bar-button {
      padding: 10px;
      margin-right: 10px;
    }
  }
  .inner {
    flex: 1;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    &::-webkit-scrollbar {
      display: none;
    }
    .control-group {
      display: flex;
      padding: 10px 20px;
      margin: 10px;
      flex-direction: column;
      border-left: 4px solid gray;
      .label {
        font-size: 1.2em;
        margin-bottom: 10px;
      }
      .input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid gray;
        font-size: 1.2em;
        &:focus {
          outline: none;
        }
      }
      .authorship-list {
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        .authorship {
          height: 74px;
          display: flex;
          flex-direction: row;
          &:not(:first-child) {
            border-top: 1px solid gray;
          }
          .authorship-avatar {
            width: 74px;
            height: 74px;
            flex: 0 0 70px;
            align-self: stretch;
          }
          .author-info {
            flex: 1;
            display: flex;
            padding: 5px 10px;
            flex-direction: column;
            .author-info-name {
              flex: 1;
              font-size: 20px;
            }
            .author-info-biography {
              flex: 1;
              color: gray;
              font-size: 14px;
            }
            .author-info-title {
              flex: 1;
              color: gray;
              font-size: 14px;
            }
          }
          .authorship-controls {
            display: flex;
            flex-direction: column;
            border-left: 1px solid gray;
            .authorship-control-item {
              flex: 1;
              display: flex;
              cursor: pointer;
              font-size: 15px;
              flex-direction: column;
              justify-content: center;
              padding: 0 10px;
              &:not(:first-child) {
                border-top: 1px solid gray;
              }
            }
            .authorship-is-primary {
              @extend .authorship-control-item;
              background-color: green;
              color: white;
            }
            .authorship-make-primary {
              @extend .authorship-control-item;
            }
            .authorship-remove {
              @extend .authorship-control-item;
              background-color: red;
              color: white;
            }
          }
        }
      }
    }
  }
}
