.fullpage {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  padding-bottom: 200px;
  background-color: #1f1f1f;
  index-z: 999999999999999999;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title {
  color: #e8e8ea;
  text-align: center;
  font-size: 2.2em;
  line-height: 3em;
  font-weight: 100;
  font-family: Pluto;
  text-transform: uppercase;
}
