.fullpage {
  background-color: #1f1f1f;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.title {
  color: #e8e8ea;
  text-align: center;
  font-size: 2.2em;
  line-height: 3em;
  font-weight: 100;
  font-family: Pluto;
  text-transform: uppercase;
}
